<h1>{{name}}</h1>

<div *ngFor="let rest of restaurants" class="restaurant">
<h2>{{ rest.name }}</h2>
<span class="valid">Platne do: {{ rest?.menu?.end_date }} </span>
<ul>
	<li *ngFor="let dish of rest?.menu?.dishes">
		{{ dish?.dish?.name }}
	</li>
</ul>
</div>

<div class="restaurant">
<h3>Supported restaurants:</h3>
<ul>
	<li>U 3 opic</li>
	<li>Molino</li>
	<li>Pad Thai</li>
	<li>Camel</li>
	<li>Bavorska</li>
	<li>Velorex</li>
	<li>Kralovska cesta</li>
	<li>Menza stary pivovar</li>
</ul>
</div>

<!--div class="restaurant">
<h3>Molino</h3>
<ul>
	{{ molino | json }}
</ul>

</div-->


